:root {
	--red: #ee3643;
	--darkred: #ca2c37;
	--blue: #32425c;
	--darkblue: #293449;
	--orange: #f6b22d;
	--purple: #cc79d1;
	--green: #5fbb2d;
	--darkgreen: #367315;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: Cuprum;
	src: url("../fonts/web/cuprum.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Cuprum;
	src: url("../fonts/web/cuprumbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Cuprum;
	src: url("../fonts/web/cuprumitalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/web/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/web/ptsansbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

.body {
	font-family: Cuprum, Arial, sans-serif;

}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.container {
	width: 940px;
	margin: 0 auto;

}

.header {
	width: 100%;
	background-color: #F1F5F7;
	min-height: 320px;
	margin-bottom: 60px; /* убрать после первоначальной разметки*/
	/*padding-bottom: 60px;*/
}

.headerTopline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--darkblue);
	margin-bottom: 46px;
}

.headerToplineLogo {
	display: block;
	width: 220px;

	background-color: var(--red);
	box-shadow: 0 5px 0 0 var(--darkred);
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	padding: 8px 0;
	font-weight: bold;
}

.searchForm {
	display: flex;
	align-items: stretch;
	/*width: 40%;*/
	padding: 0;
	margin: 0;
}

.searchButton {
	flex: 0 1 20%;
	order: -1;
	padding: 8px;
	font-size: 17px;
	height: 100%;
	border: transparent solid;
	background-color: var(--darkblue);
	color: #fff;
	cursor: pointer;
	display: block;

}

.search {
	flex: 0 0 80%;
	padding: 10px;
	font-size: 17px;
	color: #fff;
	display: block;
	border: 0;
	outline: 0;
	background-color: var(--darkblue);
}

.search:focus {
	background-color: #fff;
	color: #000;
	outline: 0;
}

.search:focus ~ .searchButton {
	background-color: #fff;
	color: var(--red);
}

.search::placeholder {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.search:focus::placeholder {
	color: #000;
}

.btn {
	display: block;
	text-decoration: none;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	/*line-height: 18px;*/
	color: #fff;

	min-width: 150px;
}

.btn-makeOrder,
.btn-cart,
.btn-favourites {
	height: 100%;
	padding: 12px 20px;

}

.btn-makeOrder {
	background-color: var(--green);
}

.btn-cart {
	background-color: var(--red);
}

.btnRed {
	display: inline-block;
	background-color: var(--red);
	color: #fff;
	text-transform: uppercase;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 14px 60px;
	border-radius: 5px;
}

.headerMiddle {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-column-gap: 50px;*/

}

.headerMiddle_right {
	text-align: right;
}

.topLineRightBtns {
	display: flex;
	margin: 0;
	font-size: 0;
	padding: 0;
	/*justify-content: flex-end;*/
	/*align-items: center;*/

}

.btnsItem {
	display: block;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.btnsItem:last-child {
	background-color: var(--green);
	align-self: stretch;
}

.headerMiddle_left {
	text-align: left;
	padding-left: 50px;
	padding-right: 20px;
	/*vertical-align: middle;*/
	font-size: 16px;
	line-height: 23px;
	font-family: Cuprum, Arial, sans-serif;
	font-style: italic;
	color: var(--red);
}

.headerMiddle_left p {
	margin-top: 5px;
	margin-bottom: 0;
}

.address {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #000;
	margin-top: 5px;
	margin-bottom: 0;
}

.headerMiddle_button {
	display: inline-block;
	text-decoration: none;
	background-color: #fff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height: 21px;
	color: #000;
	padding: 14px 26px 12px 13px;
}

.btnRegister {
	padding: 14px 24px 12px 24px;
	min-width: 150px;
	margin-left: 10px;
}

.login_icon {
	padding-right: 13px;
	color: #c5c5c5;
}

.btnLogin:hover .login_icon {
	color: #000;
}

.btnLogin .svg-inline--fa.fa-w-16 {
	width: 2em;
}

.phoneNumber {
	display: block;
	position: relative;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height: 21px;
	text-align: center;
	color: var(--red);
	padding: 10px;
	width: 270px;
	border: 3px solid #fff;
	margin: 0 auto;
}

.phone_icon {
	color: #c5c5c5;
	float: left;
}

/*.phoneNumber::before {*/
/*content: "\f095";*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 10px;*/
/*font-size:21px;*/
/*color: #fff;*/
/*}*/
.flexMenu {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 60px;
	background-color: var(--blue);
	box-shadow: 0 5px 0 0 var(--darkblue);
	list-style-type: none;

}

.MenuListItem {
	display: block;
	height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;

}

.flexMenuItem {
	display: block;
	text-decoration: none;
	color: #fff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 17px;
	padding: 20px;
	width: 100%;
	transition: 0.3s;
}

.flexMenuItem:hover {
	background-color: var(--darkblue);
}

.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(12, minmax(30px, 1fr));
	/*width: 940px;*/
	/*margin: 0 auto;*/
}

.catalogThumb {
	color: #fff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 22px 130px 22px 26px;
}

.btnThumb {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-weight: normal;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 11px 24px;

}

.catalogThumb_header {
	margin-top: 0;
	margin-bottom: 15px;
}

.materials {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	background-color: var(--orange);
}

.tools {
	grid-column: 5 / 9;
	grid-row: 1 / 2;
	background-color: #4aafde;
}

.technic {
	grid-column: 9 / 13;
	grid-row: 1 / 2;
	background-color: var(--purple);
}

.slider {
	grid-column: 1 / 9;
	grid-row: 2 / 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.perf {
	background: #ccc url(../img/perf.jpg) no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	color: #fff;
	padding: 26px 25px;
}

.perf .btnRed {
	margin-top: auto;
	padding: 12px 46px;

}

.slider_header {
	margin-top: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.slider_text {
	margin: 0;
	line-height: 18px;
}

.discount {
	grid-column: 9 / 13;
	grid-row: 2 / 3;
	background-color: #85d179;
}

.delivery {
	grid-column: 9 / 13;
	grid-row: 3 / 4;
	background-color: var(--orange);
}

.featured_header {
	text-transform: uppercase;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	margin: auto 0;
	vertical-align: middle;
}

.featuredItems {
	display: flex;
	justify-content: space-between;
	grid-column: 1 / 13;
	margin-top: 33px;
	background-color: #f7f3ec;
	padding: 25px;
}

.featuredItems .btnRed {
	padding: 12px 58px;
	min-width: 250px;
	text-align: center;
}

.featuredBrands {
	display: flex;
	justify-content: space-between;
	grid-column: 1 / 13;
	background-color: #f7f3ec;
	padding: 25px;
}

.featuredBrands .btnRed {
	min-width: 250px;
	text-align: center;
	padding: 12px 69px;
}

.featuredItemCard {
	display: flex;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	grid-column: span 3;
	border: 1px solid #f7f3ec;
	padding: 22px 27px;
	transition: 0.3s;

}

.featuredItemCard:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.itemCardTitle {
	text-align: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 15px;

}

.priceOld {
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.5);
}

.priceTag {
	position: relative;
	background-color: red;
	padding: 12px 20px 12px 36px;
	margin-top: 12px;
	color: #fff;
	border-radius: 5px 0 0 5px;
}

.label {
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent red;

	border-width: 21px 0 21px 20px;
	border-style: solid;
}

.wrap {
	position: relative;
}
.itemPhoto_container {
	position: relative;
}
.itemPhoto_container::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;

	/*transform: scale(0.3);*/
	background-color: #fff;
	transition: 0.3s ease-in-out;
}
.featuredItemCard:hover .itemPhoto_container::after {
	opacity: 1;
	/*transform: scale(1);*/
}
.loop-action {
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: .3s ease-in-out;
}

.loop-action .cart_icon {

}
.loop-action a {
	text-decoration: none;
	display: block;
	/*white-space: nowrap;*/
	text-transform: uppercase;
	padding: 14px 0;
	font-size: 14px;
	font-family: Cuprum, Arial, sans-serif;
	outline: none;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	text-align: center;
	min-width: 135px;
	margin: 5px auto;
	transition: .3s ease-in-out;
}
.featuredItemCard:hover .loop-action {
	opacity: 1;
}

.to_buy {
	color: #fff;
	background-color: var(--green);
	box-shadow: 0 3px 0 0 var(--darkgreen);
}

.to_favourites {
	color: #000;
	background-color: #fff;
	border: 3px solid var(--green);
}
.itemPhoto {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: auto;
}

.brandsLogo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	grid-column: span 3;
	text-align: center;
	align-self: center;
	border: 1px solid #f7f3ec;
	min-height: 145px;
	transition: 0.3s;
	/*padding: 40px 40px;*/
}

.brandsLogo a {
	display: block;
}

.brandsLogo:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.ourServices {

	background-position: 0 0;
	background-color: #f2f6f8;
	margin-top: 90px;

}

.grid_services {
	display: grid;
	grid-template-columns: 240px 1fr;
}

.services_title {
	grid-column: span 3;
	text-align: left;
	padding: 65px 0;
}

.services_header {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 35px;
}

.services_text,
.tab_text {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.tab_text {
	width: 50%;
}

.tab {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	width: 100%;
	margin-bottom: 100px;
}

.tablinks {
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--blue);
	color: #fff;
	font-family: Cuprum, Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	padding: 19px 22px;
	width: 100%;
	transition: 0.5s;
}

.tablinks:not(:last-child) {
	border-bottom: 1px solid var(--darkblue);
	box-shadow: 0 2px 0 0 rgb(154, 194, 219);

}

.tab button.active,
.tab button:hover {
	color: var(--blue);
	background-color: #fff;
}

.tabcontent {
	display: none;
	grid-column: 2 / 3;
	padding-left: 80px;
	transition: 0.5s;
}

.tabcontent .btnRed {
	padding: 12px 44px;

}

.tab_header {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 36px;
	margin: 0 0 35px;

}

.tab_text {
	margin-bottom: 33px;
}

.tab_credit,
.tab_garanty {
	/*display: none;*/
}

.visible {
	display: block;
}

.tab_delivery {
	-webkit-background-size: 100%;
	background-size: auto;
	background: url(../img/delivery.png) no-repeat 100% 0;
}

.tab_garanty {
	-webkit-background-size: 100%;
	background-size: auto;
	background: url(../img/guaranty.png) no-repeat 100% 0;
}

.tab_credit {
	-webkit-background-size: 100%;
	background-size: auto;
	background: url(../img/credit.png) no-repeat 100% 0;
}

.aboutUs {
	text-align: left;
	background-color: #fff;
	padding: 80px 0 86px 0;
}

.aboutUs_grid {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-gap: 100px;
}

.about {
	grid-column: 1 / 2;

}

.partnersList {
	margin: 0;
	padding: 0;
	padding-left: 35px;
}

.partnersList_item {
	list-style-type: none;
	margin-bottom: 30px;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
}

.btnAboutCompany {
	padding: 14px 40px;
}

.contacts {
	grid-column: 2/ 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

}

.contacts .btnRed {
	margin-top: auto;
}

.about_header,
.contacts_header {
	margin: 0;
	margin-bottom: 37px;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	font-weight: normal;

}

.about_text,
.contacts_text {
	margin: 0;
	margin-bottom: 37px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;

}

.contacts_text {

}

.footerTopLine {
	background-color: var(--blue);
}

.footerTopLine_grid {
	display: grid;
	grid-template-columns: 350px 1fr;
}

.footerToplineLogo {
	display: block;
	width: 220px;
	background-color: var(--red);
	box-shadow: 0 5px 0 0 var(--darkred);
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	padding: 21px 0;
	font-weight: bold;
}

.footerTopLine_contacts {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	color: #fff;
	margin-top: 33px;
	margin-bottom: 0;
}

.footerBottomLine {
	background-color: var(--darkblue);

}

.footerNav {
	text-align: right;
	margin-bottom: 76px;
}

.footerNav-top_flex,
.footerNav-bottom_flex {
	margin: 0;
	margin-top: 42px;
	padding: 0;
	list-style-type: none;
}

.footerNav-top_list-item,
.footerNav-bottom_list-item {
	display: inline-block;
	margin-left: 60px;
}

.footerNav-top_list-item:first-child,
.footerNav-bottom_list-item:first-child {
	margin-left: 0;
}

.footerMenuItem {
	text-decoration: none;
	color: #fff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.footerMenuItem_orange {
	color: #ffcc99;
}

.footerMenuItem:hover,
.footerMenuItem_orange:hover {
	text-decoration: underline;
}

.footerBottomLine_flex {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*justify-content: space-between;*/
	align-items: center;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	padding: 30px 0;
}

.copyright_text {
	text-align: left;
	margin: 0;
	margin-bottom: 5px;
}

.socialButtons {
	justify-self: center;
}

.socialBtn {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #212a3a;
	background-image: url(../img/social-sprite.png);

	background-repeat: no-repeat;
	font-size: 0;
	color: #fff;
	margin-right: 5px;

}

.vk_icon {
	background-position: 10px 9px;
}

.fb_icon {
	background-position: -36px 10px;
}

.insta_icon {
	background-position: -81px 10px;
}
.authors {
	display: flex;
	align-items: center;
	text-align: left;
}

.authors_header {
	margin: 0;
	margin-bottom: 5px;
}
.authors_links {
	text-decoration: none;
	color: #ffcc99;
}
.authors_website {
	margin-right: 15px;
}
.authors_mail {
	margin-right: 45px;
}