:root {
    --blue: #81b3d2;
}


body {
    font-size: 14px;
    font-family: "PT Sans", Arial,sans-serif;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    
}
.container {
    /*width: 500px;*/
    /*margin: 0 auto;*/


}
.header {
    position: relative;
}
.main-menu-spacer {
    padding: 20px;
    position: relative;
    text-align: right;
}
.menu-icon {

    width: 23px;
    height: 23px;
}
.sedona-float-logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;

}


.main-menu-popup {
    /*visibility: hidden;*/
    display: block;
    background-color: var(--blue);
    width: 100%;
}

.main-menu-popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu-popup li:not(:last-child) {

    border-bottom: 1px solid #678fa8;
    box-shadow: 0 1px 0 1px #9ac2db;

}

.main-menu-item{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

}

.header-bottom {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: 390px;
    background-color: #ccc;
    background-image: url(../img/back-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sedona-logo {
    display: block;
    width: 100%;
    height: auto;
}
h2 {
    font-size: 18px;
    font-weight: bold;
}

.features-top {
    padding: 20px;
}

.features-top h2 {
    margin-top: 45px;
    margin-bottom: 40px;

}
.features-top p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 50px;
}
.features-title-n {
    margin-bottom: 18px;
}

.features-a-image, .features-c-image {
    width: 100%;
    min-height: 260px;
    background-image: url(../img/photo-city-w320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.food-icon,
.souvenir-icon,
.house-icon {
    position: relative;
}
.food-icon::before,
.house-icon::before,
.souvenir-icon::before {
    content: "";
    position: absolute;
    left: -55px;
    top: -10px;
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(../img/icon-burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.house-icon::before {
    background-image: url(../img/icon-house.svg);
}
.souvenir-icon::before {
    background-image: url(../img/icon-gift.svg);
}
.features-c-image {
    background-image: url(../img/photo-bridge-w320.jpg);
}

.features-a-image img,
.features-c-image img,
.map-bottom img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    /*height: auto;*/
}
.features-booking {
    padding: 33px 20px 50px 20px;
}
.features-booking b {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 33px;
}
.features-booking p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
}


.features-a-item, .features-c-item {
    padding: 43px 20px;
    background-color: var(--blue);
    color: white;
}

.features-b {



    padding-top: 38px;
}
.features-b-item {
    font-size: 14px;

    padding-right: 20px;
    padding-left: 70px;
    text-align: left;
}

.features-b-item h2{
    margin: 0;
    margin-bottom: 23px;
    font-size: 21px;
}
.features-b-item p {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
}

.features-d {
    display: grid;

}
.features-d-item {
    padding: 20px;
    padding-top: 33px;
    background-color: #eee;
}
.features-d-item h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
.features-d-item p {
    padding: 0;
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 21px;
}

.btn {
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    border: none;
    outline: none;
    background-color: var(--blue);
    color: white;
}

footer {
    padding: 20px;
}
.footer-sedona-logo {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.footer-social {
    margin: 0 auto;

}
.social-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-right: 6px;
    background-color: var(--blue);
    background-image: url(../img/icon-facebook.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 0;
}
.tw {
    background-image: url(../img/icon-twitter.svg);
}
.yt {
    background-image: url(../img/icon-youtube.svg);
}

.footer-copyright p {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}
.footer-copyright span {
    vertical-align: middle;
}
.footer-copyright img {
    vertical-align: middle;
    height: 35px;
    width: auto;
}