body {
    min-width: 1200px;
    /*min-height: 2000px;*/
    margin: 0;
    padding: 0;
    background-size: 1200px auto;
    font-family: "Roboto", Arial, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.main-header {
    background-color: #eeeeee;
    width: 1200px;
    /*height: 435px;*/
    margin: 0 auto;
}
.container {
    position: relative;
    width: 880px;
    margin: 0 auto;
    padding: 28px 10px 0;
    /*min-height: 437px;*/
}

.nerd-logo {
    float: left;
    width: 140px;
    margin-bottom: 58px;
}

.main-menu {
    float: right;
    /*height: 50px;*/
    padding-top: 25px;
}
.main-menu ul {
    list-style: none;
    font-size: 0;
}
.main-menu li {
    display: inline-block;
    vertical-align: top;
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    margin-left: 45px;
}
.main-menu > ul > li:last-child {
    margin-left: 95px;
    position: relative;
}
.main-menu > ul > li:last-child a::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(../img/icon-basket.png) #eee no-repeat;
    top: 6px;
    left: -27px;
    opacity: 0.2;
}

.main-menu a {
    text-decoration: none;
    display: block;
    height: 27px;
    color: #000;
}
.main-menu a:hover {
    color: #f87f81;
}
.main-menu a:active {
    color: #8f8f8f;
}
a.current-page {
    border-bottom: 2px solid #f87f81;
}


.main-slider {
    /*position: relative;*/
    /*z-index: 1;*/
    clear: both;
    height: 240px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: left;
    background: #eee url(../img/slider1.png) no-repeat right top;

}
.main-slider b {
    font-size: 36px;
    line-height: 38px;

}
.main-slider p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
}
.main-slider .button {
    width: 240px;
}
main.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    background-color: white;
    height: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eee;
}
.features-name {
    margin: 19px 0 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;

}
.features-item p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
}
.button {
    display: inline-block;
    width: 140px;
    height: 40px;
    border-radius: 3px;
    background-color: #fb565a;
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;

}
.button:active {

}
.web-site {

}
.apps {
    background-color: #00ca74;
}
.present {
    background-color: #efc84a;
}

.about-info {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 6px;
    grid-column-gap: 195px;
    padding-top: 40px;
    padding-bottom: 58px;
    border-bottom: 2px solid #eee;
}
.about-us {
    grid-column: 1 / 3;
    text-align: left;
    padding-right: 300px;
    background: #fff url("../img/nerd-logo2.png") no-repeat right 28%;
}
.about-us h2 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 15px;
}
.about-us p {
    font-size: 16px;
    line-height: 22px;
}
.about-work h3 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}
ul.work-list {
    position: relative;
    margin-bottom: 5px;
    list-style: none;
}
.work-list li {
    position: relative;
    padding: 12px 0;
}
.work-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/li-deco.png) transparent no-repeat 0 12px;
    top: 6px;
    left: -40px;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 85px;
    border-bottom: 2px solid #eee;
}
.clients-item {
    text-align: center;
    opacity: 0.2;
}
.clients-item img {

}

.clients-item:last-child {
    /*padding-top: 15px;*/
}
.clients-item:hover {
    opacity: 1;
}
footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.footer-map {
    position: relative;
}
.feedback {
    position: absolute;
    top: 90px;
    left: 160px;
    width: 210px;
    height: 220px;
    background-color: white;
    padding: 10px 20px;
}
.feedback h3 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-top: 15px;

}
.feedback p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 22px;
}
.feedback .button {
    width: 208px;
    margin: 0;
    margin-top: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.share {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 75px;
    text-align: left;
}
.icons {
    margin-left: 10px;
    margin-right: 50px;
}
.social {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 75px;
    margin-right: 30px;
    background: #eee url(../img/social-sprite.png) no-repeat;
    border-radius: 50%;
}
.social:hover {
    background-color: #fb565a;

}
.social:active {
    background-color: #d6494d;

}
.social-vk {
    background-position: 17px 17px;
}
.social-fb {
    background-position: -74px 17px;
}
.social-tw {
    background-position: -163px 18px;
}
.friends {

    padding-top: 73px;
}
.friends h2 {
    padding: 0;
    margin: 3px 0 3px 0;
    font-size: 36px;
    line-height: 36px;
}
.friends p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;

}
/*ниже идет офрмление всплывающего окна с формой для сообщений*/
.modal-popup {
    /*display: none; !*отображение всплывающего окна с формой*!*/
    position: absolute;
    top: 1600px;
    left: 315px;
    background: white;
    width: 460px;
    /*height: 315px;*/
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-left: 315px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}
.modal-popup .button {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

 .modal-popup-close {
     font-size: 0;
     border: none;
     outline: none;
     cursor: pointer;
     position: absolute;
     top: 8px;
     right: 8px;
     width: 40px;
     height: 40px;
     background-color: #fb565a;
     border-radius: 50%;
 }
 .modal-popup-close::before, .modal-popup-close::after {
     content: "";
     position: absolute;
     top: 17px;
     right: 7px;
     width: 26px;
     height: 5px;
     background-color: white;
 }
.modal-popup-close::before {
    transform: rotate(45deg);
}
.modal-popup-close::after {
    transform: rotate(-45deg);
}
.modal-popup label {
    font-size: 16px;
    line-height: 18px;
}
.modal-popup p {
    /*margin: 0;*/
    /*margin-bottom: 10px;*/
}
.modal-popup input {
    margin-bottom: 25px;
}
.message {

    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 18px;
    width: 220px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 15px;
}
.popup-align {
    display: inline-block;

}
.popup-name {
    margin-right: 16px;
}
.message-text {
    text-align: left;
    max-width: 460px;
    height: 115px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 18px;
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 2px;
    margin-bottom: 50px;
}